importFrom(graphics, plot)
import(methods)

exportClasses("gpc.poly", "gpc.poly.nohole")

exportMethods("show", "get.bbox", "plot", "intersect", "union",
              "setdiff", "[", "append.poly", "scale.poly", "area.poly",
              "get.pts", "coerce")

export("read.polyfile", "write.polyfile")

useDynLib(gpclib)
